In [29]:
import pandas as pd
import numpy as np
import os

In [30]:
main_excel = pd.read_csv('hate_crime.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [31]:
df = main_excel.copy()

In [32]:
main_excel.columns
keep_cols = ['PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME', 'STATE_NAME', 'OFFENSE_NAME', 'TOTAL_OFFENDER_COUNT']
drop_cols = [cols for cols in list(main_excel.columns) if cols not in keep_cols]

df.drop(drop_cols, axis=1, inplace=True)

In [33]:
df['TOTAL_OFFENDER_COUNT'].replace(0, 1, inplace=True)
df

,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_NAME,TOTAL_OFFENDER_COUNT,OFFENSE_NAME
0,Rogers,City,Arkansas,1,Intimidation
1,Hope,City,Arkansas,1,Simple Assault
2,Pine Bluff,City,Arkansas,1,Aggravated Assault
3,Pine Bluff,City,Arkansas,1,Aggravated Assault;Destruction/Damage/Vandalis...
4,Pine Bluff,City,Arkansas,1,Aggravated Assault
...,...,...,...,...,...
219572,Sheridan,City,Wyoming,6,Intimidation
219573,Evanston,City,Wyoming,1,Destruction/Damage/Vandalism of Property
219574,Evanston,City,Wyoming,1,Aggravated Assault
219575,Evanston,City,Wyoming,1,Simple Assault
219576,Evanston,City,Wyoming,1,Theft From Building

In [34]:
index_cols = ['PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME', 'STATE_NAME', 'TOTAL_OFFENDER_COUNT']

df = (df
.set_index(index_cols)
.apply(lambda x: x.str.split(';').explode())
)
df.head(25)

                                                                                                OFFENSE_NAME
PUB_AGENCY_NAME   AGENCY_TYPE_NAME STATE_NAME TOTAL_OFFENDER_COUNT
Rogers            City             Arkansas   1                                                 Intimidation
Hope              City             Arkansas   1                                               Simple Assault
Pine Bluff        City             Arkansas   1                                           Aggravated Assault
                                              1                                           Aggravated Assault
                                              1                     Destruction/Damage/Vandalism of Property
                                              1                                           Aggravated Assault
                                              1                                                      Robbery
Little Rock       City             Arkansas   2                                           Aggravated Assault
North Little Rock City             Arkansas   1                                           Aggravated Assault
                                              1                         Murder and Nonnegligent Manslaughter
                                              2                                                 Intimidation
                                              10                                                     Robbery
                                              2                                                 Intimidation
Sevier            County           Arkansas   1                                                 Intimidation
Phoenix           City             Arizona    1                                                 Intimidation
                                              1                                                 Intimidation
                                              1                                                 Intimidation
                                              1                                           Aggravated Assault
                                              1                     Destruction/Damage/Vandalism of Property
                                              1                                                 Intimidation
                                              1                                               Simple Assault
                                              1                                                 Intimidation
                                              1                     Destruction/Damage/Vandalism of Property
                                              1                                                 Intimidation
                                              1                                                 Intimidation

In [35]:
df = df.reset_index()
df

,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_NAME,TOTAL_OFFENDER_COUNT,OFFENSE_NAME
0,Rogers,City,Arkansas,1,Intimidation
1,Hope,City,Arkansas,1,Simple Assault
2,Pine Bluff,City,Arkansas,1,Aggravated Assault
3,Pine Bluff,City,Arkansas,1,Aggravated Assault
4,Pine Bluff,City,Arkansas,1,Destruction/Damage/Vandalism of Property
...,...,...,...,...,...
227499,Sheridan,City,Wyoming,6,Intimidation
227500,Evanston,City,Wyoming,1,Destruction/Damage/Vandalism of Property
227501,Evanston,City,Wyoming,1,Aggravated Assault
227502,Evanston,City,Wyoming,1,Simple Assault
227503,Evanston,City,Wyoming,1,Theft From Building

In [36]:
group_cols = ['PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME', 'STATE_NAME', 'OFFENSE_NAME']
df = (df
.groupby(group_cols)
.sum()
.reset_index()
)
df

,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_NAME,OFFENSE_NAME,TOTAL_OFFENDER_COUNT
0,Abbeville,City,Alabama,Not Specified,1
1,Abbeville,City,Alabama,Rape,1
2,Abbeville,City,South Carolina,Aggravated Assault,2
3,Abbeville,City,South Carolina,Simple Assault,6
4,Abbeville,City,South Carolina,Theft From Motor Vehicle,1
...,...,...,...,...,...
30295,Zion,City,Illinois,Aggravated Assault,1
30296,Zion,City,Illinois,Destruction/Damage/Vandalism of Property,1
30297,Zion,City,Illinois,Intimidation,4
30298,Zumbrota,City,Minnesota,Intimidation,2
30299,Zumbrota,City,Minnesota,Simple Assault,1

In [37]:
try:
    os.mkdir(f'{os.getcwd()}\\hate_output')
except FileExistsError:
    pass

In [38]:
new_col_names = ['Agency Name', 'Agency Type', 'State', 'Offense Name', 'Total Offenses']
df.to_excel(f'{os.getcwd()}\\hate_output\\hate_crime_cleaned.xlsx', na_rep = 'NA', sheet_name='Cities', header=new_col_names, index=False)