In [88]:
import pandas as pd
import numpy as np
import os

In [90]:
df = pd.read_csv('hmeq.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: '/home/jp/Documents/file_name.csv/hmeq.csv'

In [50]:
q1 = df.dropna()
q1

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
19,0,2300,102370.0,120953.0,HomeImp,Office,2.0,0.0,0.0,90.992533,0.0,13.0,31.588503
25,1,2400,34863.0,47471.0,HomeImp,Mgr,12.0,0.0,0.0,70.491080,1.0,21.0,38.263601
26,0,2400,98449.0,117195.0,HomeImp,Office,4.0,0.0,0.0,93.811775,0.0,13.0,29.681827
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [69]:
q1_filled = df.__deepcopy__()
for col in df.columns:
    try:
        mean = df[col].mean()
    except(TypeError):
        continue

    q1_filled[col].fillna(mean, inplace=True)
q1_filled

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0000,39025.000000,HomeImp,Other,10.500000,0.00000,0.000000,94.366667,1.000000,9.000000,33.779915
1,1,1300,70053.0000,68400.000000,HomeImp,Other,7.000000,0.00000,2.000000,121.833333,0.000000,14.000000,33.779915
2,1,1500,13500.0000,16700.000000,HomeImp,Other,4.000000,0.00000,0.000000,149.466667,1.000000,10.000000,33.779915
3,1,1500,73760.8172,101776.048741,NaN,NaN,8.922268,0.25457,0.449442,179.766275,1.186055,21.296096,33.779915
4,0,1700,97800.0000,112000.000000,HomeImp,Office,3.000000,0.00000,0.000000,93.333333,0.000000,14.000000,33.779915
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955,0,88900,57264.0000,90185.000000,DebtCon,Other,16.000000,0.00000,0.000000,221.808718,0.000000,16.000000,36.112347
5956,0,89000,54576.0000,92937.000000,DebtCon,Other,16.000000,0.00000,0.000000,208.692070,0.000000,15.000000,35.859971
5957,0,89200,54045.0000,92924.000000,DebtCon,Other,15.000000,0.00000,0.000000,212.279697,0.000000,15.000000,35.556590
5958,0,89800,50370.0000,91861.000000,DebtCon,Other,14.000000,0.00000,0.000000,213.892709,0.000000,16.000000,34.340882
5959,0,89900,48811.0000,88934.000000,DebtCon,Other,15.000000,0.00000,0.000000,219.601002,0.000000,16.000000,34.571519

In [68]:
df['LOAN'].mean()

18607.96979865772

In [52]:

def find_means(df):
    for col in df.columns:
        try:
            mean = df[col].mean()
        except(TypeError):
            continue

        replaced_means[col] = mean 
    return replaced_means

In [70]:
not_filled_means = find_means(q1_filled)
filled_means = find_means(q1)


print(not_filled_means)
print()
print(filled_means)

{'BAD': 0.089179548156956, 'LOAN': 19154.39952437574, 'MORTDUE': 76249.62158145066, 'VALUE': 107501.38585017835, 'YOJ': 9.110285374554103, 'DEROG': 0.14684898929845422, 'DELINQ': 0.2788347205707491, 'CLAGE': 180.99368424403357, 'NINQ': 1.0374554102259215, 'CLNO': 22.114149821640904, 'DEBTINC': 34.135451331967694}

{'BAD': 0.089179548156956, 'LOAN': 19154.39952437574, 'MORTDUE': 76249.62158145066, 'VALUE': 107501.38585017835, 'YOJ': 9.110285374554103, 'DEROG': 0.14684898929845422, 'DELINQ': 0.2788347205707491, 'CLAGE': 180.99368424403357, 'NINQ': 1.0374554102259215, 'CLNO': 22.114149821640904, 'DEBTINC': 34.135451331967694}

In [102]:
student_info = pd.read_table('StudentInfo.tsv')

student_info.sort_values('Final', ascending=False, inplace=True)
for col in student_info.columns:
    try:
        std = student_info[col].std()
    except TypeError:
        continue
    print(col)    
    print(f'Max: {student_info[col].max()}')
    print(f'STD: {student_info[col].std()}')
    print(f'AVG: {student_info[col].mean()}')
    print(f'Median: {student_info[col].median()}')
    print()

print(student_info)

Midterm1
Max: 96
STD: 11.304866208850063
AVG: 83.4
Median: 88.0

Midterm2
Max: 97
STD: 22.63404515326414
AVG: 76.6
Median: 86.0

Final
Max: 88
STD: 22.210357943986406
AVG: 61.6
Median: 59.0

      Lname   Fname  Midterm1  Midterm2  Final
1  Bradshaw  Reagan        96        97     88
2  Charlton   Caius        73        94     80
0   Barrett    Edan        70        45     59
4     Stern  Brenda        90        86     45
3      Mayo  Tyrese        88        61     36